#post{
    width: 90%;
    height: auto;
    margin: 15px;
    float: right;
}

#header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.24)
}

#username{
    margin-left: 10px;
    font-weight:600;
    color: black;
}

#time{
    margin-left: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.525);
}

#moreIcon{
    font-size: 20px;
    margin-right: 10px
}

#image{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#interactiveBar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#interactiveBar button{
    background-color: transparent;
    border: none;
}

.iconInteractiveBar{
    font-size: 20px;
    margin-right: 15px;
}

#likesTo{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 500;
}

#descriptionContainer{
    margin-left: 5px;
    font-size: 14px;
    width: 100%;
    overflow-wrap: break-word;
}

#descriptionContainer span strong{
    margin-right: 5px;
}

.red{
    color:red
}

#showComments{
    color:rgba(0, 0, 0, 0.608);
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}

#commentForm{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}


input{
    width: 100%;
    float: left;
    clear: both;
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, 0.437)
}

input::placeholder{
    font-weight: normal;
    font-size: 14px;
}

#modal button{
    width:100%;
    border:none;
    
    background-color:white;
    height: 50px;
}
#modal{
    padding-right:0px !important;
    padding-left: 0px !important;
    padding: 0px !important;    
}