
#modalView{
    margin-top: 20px;
}

.barra{
    height: 4px;
    width: 100%;
    margin: 2px;
    border-radius: 5px;
}

.active{
    background-color: rgb(97, 97, 97);
}

.inactive{
    background-color: rgb(97, 97, 97);
}

.progress {
    width: 10%;
    height: 4px !important;
    background-color: white !important;
}

#barraContainer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    position: relative;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
}



#userInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: -70px;
}

#userInfoContainer img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
}

#userInfoContainer span{
    color:white;
    margin-left: 10px;
}

#actionButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -40px;
    width: 100%;
    
}

#actionButtons button{
    width:40% !important;
    height:30px;
    border: 0px;
    background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%);
    border-radius: 10px;
    color: white;
    display: block;
    transition: 0.8s;
        background-size: 200% auto;
}

#actionButtons button:hover {
    background-position: right center !important;
    color:white;
    font-weight: bold;
}





